.div_downloadpdf > * {
    width: auto;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_downloadpdf:hover > * {
    color: lightgray;
}

.div_downloadpdf:active > * {
    color: gray;
}