.div_modelrp {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.div_modelrp_model {
    width: 50%;
    background-color: rgb(3, 0, 32);
    border: 1px solid rgb(151, 220, 252);
    border-radius: 10px;
    margin-top: 0.5cm;
    margin-left: 2cm;
    display: flex;
    flex-direction: column;
    color: white;
}

.div_modelname {
    height: 1cm;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div_modelrp_model_info {
    margin-left: 1cm;
    display: flex;
    flex-direction: column;
    color: white;
}

.div_modelrp_model_div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.div_modelrp_infos_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;
    width: 70%;
    background-color: rgb(7, 0, 48);
    border: 1px solid white;
    padding: 10px;
    margin-top: 15px;
    margin-left: 7px;
    border-radius: 10px;
}

.div_modelrp_date_div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.div_modelrp_model_date {
    text-align: center;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.div_modelrp_model_date::-webkit-calendar-picker-indicator {
    background-color: white;
    border-radius: 3px;
}

.div_modelrp_icon {
    bottom: 0;
    right: 20px;
    height: 1cm;
    width: 1cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.div_modelrp_icon:hover .modelrp_trashicon {
    color: rgb(148, 0, 0);
}

.div_modelrp_icon:active .modelrp_trashicon {
    color: rgb(78, 0, 0);
}

.div_modelrp_itens {
    width: 70%;
    background-color: rgb(7, 0, 48);
    border: 1px solid white;
    padding: 10px;
    margin-top: 15px;
    margin-left: 7px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.div_modelrp_infos_itens {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div_modelrp_button_icon {
    bottom: 0;
    right: 0;
    height: 1cm;
    width: 1cm;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
}

.modelrp_trashicon {
    color: rgb(196, 62, 1);
    transition: all 200ms;
}


.modelrp_sendicon {
    color: rgb(223, 126, 0);
    transition: all 200ms;
}

.div_modelrp_button_icon:hover .modelrp_sendicon {
    color: rgb(255, 166, 0);
}

.div_modelrp_button_icon:active .modelrp_sendicon {
    color: rgb(138, 90, 0);
}

.redirect_modelorp {
    color: white;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.redirect_modelorp:hover {
    color: rgb(149, 222, 224);
}

.redirect_modelorp:active {
    color: rgb(124, 159, 187);
}

@media (max-width: 1000px) {

    .div_modelrp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div_modelrp_model {
        position: relative;
        width: 90%;
        margin: 0;
        margin-bottom: 10px;
    }

    .div_modelrp_model_info {
        margin: 0;
    }

    .div_modelrp_infos_div {
        width: 90%;
    }
 
    .div_modelrp_itens {
        width: 90%;
    }

    .div_modelrp_icon {
        top: 0;
        right: 30px
    }

    .div_modelrp_button_icon {
        top: 0;
        right: 0;
    }

    .div_modelrp_model_div {
        display: flex;
        flex-direction: column;
        position: inherit;
    }
    
    .redirect_modelorp {
        display: none;
    }

}